<!--
    Copyright (C) 2015 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="container pt-0 pb-0 mt-0 mb-0" style="margin: 0;">
<form [formGroup]="form" role="form">
  <hs-update-nachname [form]="form" [currentValue]="kunde.nachname"> </hs-update-nachname>
  <hs-update-geschlecht [form]="form" [currentValue]="kunde.geschlecht"> </hs-update-geschlecht>
  <hs-update-familienstand [form]="form" [currentValue]="kunde.familienstand">
  </hs-update-familienstand>
  <hs-update-ort [form]="form" [currentValue]="kunde.adresse.ort"> </hs-update-ort>

  <div class="row">
    <div class="col offset-2 gy-3">
      <!-- form.pristine ist das Gegenteil von form.dirty -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="btn btn-primary"
        (click)="onUpdate()"
        [disabled]="form.pristine || form.invalid"
      >
        <mat-icon class="material-icons">check</mat-icon>
        <span class="ms-1">Stammdaten aktualisieren</span>
      </button>
    </div>
  </div>
</form>
</div>
