<!--
    Copyright (C) 2018 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="row">
  <label for="nachnameInput" class="col col-2 col-form-label gy-3">Nachname *</label>

  <div class="col col-10 gy-3" [formGroup]="form">
    <div class="input-group">
      <input
        id="nachnameInput"
        placeholder="Nachname"
        class="form-control"
        autofocus
        formControlName="nachname"
        [class.is-invalid]="nachname.invalid && nachname.touched"
        [class.is-valid]="nachname.valid && nachname.touched"
      />

      <div *ngIf="nachname.invalid && nachname.touched" class="invalid-feedback">
        <i class="material-icons">error</i>
        <span class="ms-1" *ngIf="nachname.errors && nachname.errors.required">
          Ein Kundenachname muss eingegeben werden.
        </span>
        <span class="ms-1" *ngIf="nachname.errors && nachname.errors.minlength">
          Ein Kundenachname muss mindestens 2 Zeichen lang sein.
        </span>
        <span class="ms-1" *ngIf="nachname.errors && nachname.errors.pattern">
          Ein Kundenachname muss mit einem Kundestaben oder einer Ziffer beginnen.
        </span>
      </div>
    </div>
  </div>
</div>
