<!--
    Copyright (C) 2018 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="row">
  <label for="waehrungInput" class="col col-2 col-form-label gy-3">Waehrung *</label>

  <div class="col col-10 gy-3" [formGroup]="form">
    <div class="input-group">
      <input
        id="waehrungInput"
        placeholder="Waehrung"
        class="form-control"
        autofocus
        formControlName="waehrung"
        [class.is-invalid]="waehrung.invalid && waehrung.touched"
        [class.is-valid]="waehrung.valid && waehrung.touched"
      />

      <div *ngIf="waehrung.invalid && waehrung.touched" class="invalid-feedback">
        <i class="material-icons">error</i>
        <span class="ms-1" *ngIf="waehrung.errors && waehrung.errors.required">
          Eine Waehrung muss eingegeben werden.
        </span>
        <span class="ms-1" *ngIf="waehrung.errors && waehrung.errors.minlength">
          Ein Waehrung muss mindestens 2 Zeichen lang sein.
        </span>
        <span class="ms-1" *ngIf="waehrung.errors && waehrung.errors.pattern">
          Ein Waehrung muss mit einem Buchstaben oder einer Ziffer beginnen.
        </span>
      </div>
    </div>
  </div>
</div>
