<!--
    Copyright (C) 2015 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!-- Inline form https://v5.getbootstrap.com/docs/5.0/forms/layout/#inline-forms -->
<!-- prettier-ignore -->
<form
  class="row row-cols-md-auto g-3 align-items-center"
  autocomplete="off"
  role="form"
>
  <button mat-raised-button color="primary" type="submit" (click)="onLogout()" *ngIf="(isLoggedIn$ | async) || init; else login">Logout
    <mat-icon class="material-icons md-48">chevron_right</mat-icon>
  </button>
</form>

<ng-template #login>
  <div class="onerow ">
  <mat-form-field class="example-form-field" style="width: 300px;">
    <mat-label>Benutzername</mat-label>
    <input matInput id="usernameInput" type="text" [(ngModel)]="username">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" >
      <span class="material-icons">
        account_circle
        </span>
    </button>
    <mat-hint>Benutzername eingeben</mat-hint>
  </mat-form-field>
  &nbsp;
  <mat-form-field class="example-form-field" style="width: 300px;">
    <mat-label>Passwort</mat-label>
    <input matInput type="password" [(ngModel)]="password">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" >
      <span class="material-icons">
        lock
        </span>
    </button>
    <mat-hint>Passwort eingeben</mat-hint>
  </mat-form-field>
</div>

  <div class="col-12">
    <button mat-raised-button color="primary" type="submit" tabindex="3" (click)="onLogin()">Login</button>
  </div>
</ng-template>
