<!--
    Copyright (C) 2015 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--
    Internationalisierung durch z.B. https://github.com/ocombe/ng2-translate
-->

<ul class="navbar-nav me-auto">
  <li class="nav-item active">
    <a
      routerLink="/kunden/suche"
      routerLinkActive="active"
      class="nav-link"
      aria-label="Suche Kunden"
    >
      <mat-icon class="material-icons">search</mat-icon>
      <span class="ms-1">Suche</span>
    </a>
  </li>

  <li class="nav-item" *ngIf="isAdmin$ | async">
    <a
      routerLink="/kunden/create"
      class="nav-link"
      aria-label="Neues Kunde anlegen"
    >
      <mat-icon class="material-icons">menu_book</mat-icon>
      <span class="ms-1">Neuer Kunde</span>
    </a>
  </li>

  <li class="nav-item dropdown" *ngIf="isAdmin$ | async">
    <div
      class="nav-link dropdown-toggle"
      id="navbarDropdownMenuLink"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <mat-icon class="material-icons">bar_chart</mat-icon>
      <span class="ms-1">Diagramme</span>
    </div>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a
        routerLink="/kunden/balkendiagramm"
        class="dropdown-item"
        aria-label="Balkendiagramm fuer Bewertungen"
      >
        <mat-icon class="material-icons">bar_chart</mat-icon>
        <span class="ms-1">Balkendiagramm</span>
      </a>
      <a
        routerLink="/kunden/liniendiagramm"
        class="dropdown-item"
        aria-label="Liniendiagramm fuer Bewertungen"
      >
        <mat-icon class="material-icons">multiline_chart</mat-icon>
        <span class="ms-1">Liniendiagramm</span>
      </a>
      <a
        routerLink="/kunden/tortendiagramm"
        class="dropdown-item"
        aria-label="Tortendiagramm fuer Bewertungen"
      >
        <mat-icon class="material-icons">pie_chart</mat-icon>
        <span class="ms-1">Tortendiagramm</span>
      </a>
    </div>
  </li>
</ul>
<hs-login-logout></hs-login-logout>
