<!--
    Copyright (C) 2018 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="row" *ngFor="let schlagwort of values" class="container pt-0 pb-0 mt-0 mb-0" style="margin: 0;">
  <div class="col col-11">
    <div class="checkbox">
      <input type="checkbox" checked disabled class="checkbox" />
      <label class="ms-2" [ngSwitch]="schlagwort">
        <span *ngSwitchCase="'L'" >Lesen</span>
        <span *ngSwitchCase="'R'" >Reisen</span>
        <span *ngSwitchCase="'S'" >Sport</span>
      </label>
    </div>
  </div>
</div>
