<!--
    Copyright (C) 2015 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div *ngIf="kunde" class="container pt-0 pb-0 mt-0 mb-0" style="margin: 0;">
  <hs-details-nachname [nachname]="kunde.nachname" style="width: 95%;"></hs-details-nachname>
  <hs-details-geschlecht [geschlecht]="kunde.geschlecht" style="width: 95%;"></hs-details-geschlecht>
  <hs-details-familienstand [familienstand]="kunde.familienstand" style="width: 95%;"></hs-details-familienstand>
  <hs-details-geburtsdatum [formatted]="kunde.geburtsdatumFormatted" style="width: 95%;"></hs-details-geburtsdatum>
  <hs-details-plz [plz]="kunde.adresse.plz" style="width: 95%;"></hs-details-plz>
  <hs-details-kategorie [kategorie]="kunde.kategorie" style="width: 95%;"></hs-details-kategorie>
  <hs-details-newsletter [newsletter]="kunde.newsletter" style="width: 95%;"></hs-details-newsletter>
  <hs-details-ort [ort]="kunde.adresse.ort" style="width: 95%;"></hs-details-ort>
</div>
