<!--
    Copyright (C) 2018 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="row mt-2">
  <label class="col col-1"> Familienstand </label>
  <div class="col col-11">
    <span [ngSwitch]="familienstand">
      <span *ngSwitchCase="'VH'">Verheiratet</span>
      <span *ngSwitchCase="'L'">Ledig</span>
      <span *ngSwitchCase="'G'">Geschieden</span>
      <span *ngSwitchCase="'VW'">Verwitwet</span>
      <span *ngSwitchDefault>unbekannt</span>
    </span>
  </div>
</div>
