<!--
    Copyright (C) 2015 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!-- Template Binding durch die Direktive ngIf -->
<!-- Eine Direktive ist eine Komponente ohne View -->

<section class="mt-2" aria-label="Suchergebnis">
  <hs-waiting *ngIf="waiting; else suchergebnis"></hs-waiting>

  <ng-template #suchergebnis>
    <div
      class="card"
      aria-label="Gefundene Kunden"
      *ngIf="kunden.length; else showErrorMsg"
    >
      <div class="card-header">
        <i class="material-icons">folder_open</i>
        <span class="ms-1 fw-bold">Gefundene Kunden</span>
      </div>
      <div class="card-body">
        <table
          class="table table-striped table-hover table-responsive"
          [@easeIn]="'in'"
        >
          <thead class="thead-default">
            <tr>
              <th>Nr.</th>
              <th>ID</th>
              <th>Nachname</th>
              <th>Familienstand</th>
              <th>Interessen</th>
              <th>
                <span class="visually-hidden">Spalte f&uuml;r Details</span>
              </th>
              <th *ngIf="isAdmin || (isAdmin$ | async)">
                <span class="visually-hidden">Spalte f&uuml;r Entfernen</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- Template Binding: ngFor -->
            <!-- Event-Binding: statt (click) auch on-click -->
            <!-- ts als Komponente: https://stackoverflow.com/questions/34556277/angular2-table-rows-as-component -->
            <tr *ngFor="let b of kunden; index as i" [@easeOut]="'in'">
              <td (click)="onClick(b)">{{ i + 1 }}</td>
              <td (click)="onClick(b)">{{ b._id }}</td>
              <td (click)="onClick(b)">{{ b.nachname }}</td>
              <td>
                <span [ngSwitch]="b.familienstand">
                  <span *ngSwitchCase="'VH'">Verheiratet</span>
                  <span *ngSwitchCase="'L'">Ledig</span>
                  <span *ngSwitchCase="'G'">Geschieden</span>
                  <span *ngSwitchCase="'VW'">Verwitwet</span>
                  <span *ngSwitchDefault>unbekannt</span>
                </span>
              </td>
              <td (click)="onClick(b)">
                <span *ngFor="let sw of b.interessen">
                  <span [ngSwitch]="sw">
                    <span *ngSwitchCase="'L'"> Lesen<br /> </span>
                    <span *ngSwitchCase="'R'"> Reisen </span>
                    <span *ngSwitchCase="'S'"> Sport </span>
                  </span>
                </span>
              </td>
              <td>
                <!-- Pfad /:id, in kunde-routing.module.ts -->
                <!-- modaler Dialog als Alternative: -->
                <!-- https://v5.getbootstrap.com/docs/5.0/components/modal -->
                <a [routerLink]="['..', b._id]" title="Details anzeigen">
                  <i class="material-icons">search</i>
                </a>
              </td>
              <td *ngIf="isAdmin || (isAdmin$ | async)">
                <span (click)="onRemove(b)" title="Entfernen">
                  <i class="material-icons">delete</i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div>
          <i class="material-icons">info</i>
          <span class="ms-1" [ngPlural]="kunden.length">
            <!-- zu vergleichender Ausdruck -->
            <ng-template ngPluralCase="=0"> Es gibt kein Kunde </ng-template>
            <ng-template ngPluralCase="=1"> Es gibt ein Kunde </ng-template>
            <ng-template ngPluralCase="other">
              Es gibt {{ kunden.length }} Kunden
            </ng-template>
          </span>
        </div>

        
      </div>
    </div>

    <!-- Ausgabe im Webbrowser statt console.log(...) -->
    <!-- <pre>{{kunden | json}}</pre> -->

    <ng-template #showErrorMsg>
      <hs-error-message [text]="errorMsg"></hs-error-message>
    </ng-template>
  </ng-template>
</section>
