<!--
   Copyright (C) 2015 - present Juergen Zimmermann, Hochschule Karlsruhe

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<section *ngIf="kunde">
  <h4>Kunde {{ kunde._id }}:</h4>

  <mat-tab-group id="kundeUpdate" color="accent" backgroundColor="primary">
    <div>
    <mat-tab 
      class="nav-link active" 
      id="stammdaten-update-tab" 
      label="Stammdaten" 
      href="#stammdaten"
      data-bs-toggle="tab"
      aria-controls="stammdaten"
      aria-expanded="true">
      <hs-update-stammdaten [kunde]="kunde"> </hs-update-stammdaten>
    </mat-tab>
  </div>
  <div>
    <mat-tab 
    label="Interessen"
    class="nav-link active"
    id="interessen-update-tab"
    href="#interessen"
    data-bs-toggle="tab"
    role="tab"
    aria-controls="interessen"
    aria-expanded="true"> 
    <hs-update-interessen [kunde]="kunde"> </hs-update-interessen>
   </mat-tab>
  </div>
  </mat-tab-group>
</section>
<hs-error-message [text]="errorMsg"></hs-error-message>
