<!--
    Copyright (C) 2015 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="container pt-0 pb-0 mt-0 mb-0" style="margin: 0;">
<form [formGroup]="form" role="form">
  <div class="row">
    <div class="col gy-3">
      <div class="checkbox">
        <input
          type="checkbox"
          id="lesenInput"
          formControlName="lesen"
          value="L"
        />
        <label for="lesenInput">Lesen</label>
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="reisenInput"
          formControlName="reisen"
          value="R"
        />
        <label for="reisenInput">Reisen</label>
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          id="sportInput"
          formControlName="sport"
          value="S"
        />
        <label for="sportInput">Sport</label>
      </div>
    </div>
  </div>

  <div class="row gy-3">
    <div class="col">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="btn btn-primary"
        (click)="onUpdate()"
        [disabled]="form.pristine || form.invalid"
    >
      <mat-icon class="material-icons">check</mat-icon>
      <span class="ms-1">Interessen aktualisieren</span>
      </button>
    </div>
  </div>
</form>
</div>
