// Copyright (C) 2017 - present Juergen Zimmermann, Hochschule Karlsruhe
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.

// "Partial" Datei als Hilfsdatei fuer @Import, d.h. Wiederverwendung

// $bluesky: #bed6f8;
$bluesky: rgb(255 182 193);

$red: rgb(217 28 13);

// $black: rgb(0 0 0);
$black: black;

$background-color: $bluesky;
