// Copyright (C) 2020 - present Juergen Zimmermann, Hochschule Karlsruhe
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.

@import './app/sass/colors';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$gradient: url('/assets/img/gradientBlueSky.png');

.hs-nav-init {
  background-color: $background-color;
  background-image: $gradient;
  background-position: left top;
  background-repeat: repeat-x;
  height: 60px;
  width: 100%;
}

$grey: rgb(242 242 242);

.mat-select {
  background-color: $grey;
  margin-top: 7px;
}

.mat-form-field {
  width: 100%;
}

.mat-icon {
  margin-bottom: 3px;
  vertical-align: middle;
}

.onerow {
  overflow: hidden;
  white-space: nowrap;
}

.mat-tab-group {
  vertical-align: middle;
  width: 100%;
}

.l-no-horizontal-scroll {
  overflow-x: hidden;
}
