<!--
    Copyright (C) 2018 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="row">
  <label for="kategorieInput" class="col col-2 col-form-label gy-3"
    >Kategorie *</label
  >
  <div class="col col-10 gy-3" [formGroup]="form">
    <div class="input-group">
      <input
        id="kategorieInput"
        placeholder="Kategorie"
        required
        type="number"
        class="form-control"
        formControlName="kategorie"
        [class.is-invalid]="kategorie.invalid && kategorie.touched"
        [class.is-valid]="kategorie.valid && kategorie.touched"
      />
      <span class="input-group-addon ms-1"></span>
    </div>

    <div *ngIf="kategorie.invalid && kategorie.touched" class="invalid-feedback">
      <div *ngIf="kategorie.errors && kategorie.errors.required">
        <i class="material-icons">error</i>
        <span class="ms-1">
          Ein Kategorie muss eingegeben werden.
        </span>
      </div>
    </div>
  </div>
</div>
