<!--
    Copyright (C) 2015 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="card">
  <div class="card-header">
    <span class="ms-1 fw-bold">Neuer Kunde</span>
  </div>

  <div class="card-body">
    <!--
            Template-Syntax:
               [formGroup]="form"  fuer Input = Property Binding
                                   d.h. formGroup fuer Attr. form
               (submit)="save()"  fuer Output = Event Binding
                                  d.h. Ereignis submit an save() anbinden
                                  oder on-submit="save"
               Definition von Attributnamen gemaess HTML: Attribute names
               must consist of one or more characters other than the
               space characters, U+0000 NULL, """, "'", ">", "/", "=",
               the control characters, and any characters that are not
               defined by Unicode.
               https://github.com/angular/angular/issues/6786
        -->
    <!-- dynamisches Formular durch formGroup -->
    <form [formGroup]="form" role="form">
      <div class="row has-warning mb-4" *ngIf="showWarning">
        <div class="col col-12 form-control-feedback">
          <span class="alert alert-warning">
            <i class="material-icons">warning</i>
            <strong class="text-help ms-1">
              Wenn Sie die Seite jetzt verlassen, verlieren Sie Ihre
              eingegebenen Daten.
            </strong>
          </span>
        </div>
      </div>

      <hs-create-nachname [form]="form"></hs-create-nachname>
      <hs-create-betrag [form]="form"></hs-create-betrag>
      <hs-create-geschlecht [form]="form"></hs-create-geschlecht>
      <hs-create-familienstand [form]="form"></hs-create-familienstand>
      <hs-create-plz [form]="form"></hs-create-plz>
      <hs-create-kategorie [form]="form"></hs-create-kategorie>
      <hs-create-geburtsdatum [form]="form"></hs-create-geburtsdatum>
      <hs-create-newsletter [form]="form"></hs-create-newsletter>
      <hs-create-interessen [form]="form"></hs-create-interessen>
      <hs-create-ort [form]="form"></hs-create-ort>

      <div class="row">
        <div class="col offset-2 gy-3">
          <!--
                        Template-Syntax:
                           (click)="onSave()" fuer Output = Event Binding
                                              d.h. Ereignis click an onSave() anbinden
                                              oder on-click="onSave"
                           [disabled]="..." fuer Input = Property Binding
                    -->
          <button
            type="submit"
            class="btn btn-primary"
            (click)="onSave()"
            [disabled]="form.invalid"
          >
            <i class="material-icons">check</i>
            <span class="ms-1">Jetzt anlegen</span>
          </button>
        </div>
      </div>
    </form>

    <small>* sind Pflichtfelder</small>
  </div>
</div>

<div class="mt-3">
  <hs-error-message [text]="errorMsg"></hs-error-message>
</div>
