<!--
    Copyright (C) 2018 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="row">
  <label class="col col-2 col-form-label gy-3">Familienstand *</label>
  <div class="col col-10 gy-3" [formGroup]="form">
    <div class="input-group">
      <select
        class="form-select"
        formControlName="familienstand"
        required
        [class.is-invalid]="familienstand.invalid && familienstand.touched"
        [class.is-valid]="familienstand.valid && familienstand.touched"
      >
        <option value="">Einen Familienstand ausw&auml;hlen</option>
        <option value="VH">Verheiratet</option>
        <option value="L">Ledig</option>
        <option value="G">Geschieden</option>
        <option value="VW">Verwitwet</option>
      </select>

      <div *ngIf="familienstand.invalid && familienstand.touched" class="invalid-feedback">
        <div *ngIf="familienstand.errors && familienstand.errors.required">
          <i class="material-icons">error</i>
          <span class="ms-1"> Ein Familienstand ist erforderlich. </span>
        </div>
      </div>
    </div>
  </div>
</div>
