<!--
    Copyright (C) 2018 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="row">
  <label class="col col-2 col-form-label gy-3">Geschlecht *</label>
  <div class="col col-10 gy-3" [formGroup]="form">
    <div class="form-check">
      <input
        type="radio"
        class="form-check-input"
        id="maennlichInput"
        formControlName="geschlecht"
        name="geschlecht"
        value="M"
      />
      <label class="radio-inline ms-1" for="maennlichInput">
        Maennlich
      </label>
    </div>

    <div class="form-check">
      <input
        type="radio"
        class="form-check-input"
        id="weiblichInput"
        formControlName="geschlecht"
        name="geschlecht"
        value="W"
      />
      <label class="radio-inline ms-1" for="weiblichInput"> Weiblich </label>
    </div>

    <div class="form-check">
      <input
        type="radio"
        class="form-check-input"
        id="diversInput"
        formControlName="geschlecht"
        name="geschlecht"
        value="D"
      />
      <label class="radio-inline ms-1" for="diversInput"> Divers </label>
    </div>
  </div>
</div>
