<!--
    Copyright (C) 2018 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<section>
  <div class="mt4">
    <a [routerLink]="['..', id, 'update']" class="ms-1" aria-label="Kunde bearbeiten">
    <button mat-raised-button color="primary">
      <mat-icon class="material-icons">edit</mat-icon>
      <span class="ms-1">Bearbeiten</span>
    </button>
  </a>
  </div>
</section>
