<!--
    Copyright (C) 2018 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<hs-waiting *ngIf="waiting; else details"></hs-waiting>

<ng-template #details>
  <hs-details-breadcrumbs></hs-details-breadcrumbs>

  <section class="mt-1" *ngIf="kunde; else showErrorMsg">
    <h4>Kunde {{ kunde._id }}:</h4>
    <!-- https://v5.getbootstrap.com/docs/5.0/components/navs/#tabs -->
    <!-- jQuery erfordert id -->
    <mat-tab-group class=".l-no-horizontal-scroll" color="accent" backgroundColor="primary">
      <div class=".l-no-horizontal-scroll">
      <mat-tab class=".l-no-horizontal-scroll" label="Stammdaten" style="padding-left: calc(100vw - 100%);">
        <hs-details-stammdaten [kunde]="kunde"></hs-details-stammdaten>
      </mat-tab>
    </div>
    <div class=".l-no-horizontal-scroll">
      <mat-tab class=".l-no-horizontal-scroll" label="Interessen"> 
        <hs-details-interessen [values]="kunde.interessen"></hs-details-interessen>
     </mat-tab>
    </div>
    </mat-tab-group>
     <hs-details-bearbeiten [id]="kunde._id" *ngIf="isAdmin"></hs-details-bearbeiten>
  </section>
  <ng-template #showErrorMsg>
    <hs-error-message [text]="errorMsg"></hs-error-message>
  </ng-template>
</ng-template>
