<!--
    Copyright (C) 2015 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<section class="row">
  <label class="col col-2 col-form-label gy-3"> Interessen </label>
  <div class="col col-10 gy-3">
    <mat-checkbox class="checkbox" attribute=true labelPosition="after" value="L" [(ngModel)]="lesen">Lesen &nbsp; &nbsp;</mat-checkbox>
    <br/>
    <mat-checkbox class="checkbox" labelPosition="after" value="R" [(ngModel)]="reisen">Reisen &nbsp; &nbsp;</mat-checkbox>
    <br/>
    <mat-checkbox class="checkbox" labelPosition="after" value="S" [(ngModel)]="sport">Sport</mat-checkbox>
  </div>
</section>
