<!--
    Copyright (C) 2015 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!--
    Bootstrap:
        (xs):    -  480px ("extra small")
        sm:      -  767px ("small")
        md:  768 -  991px ("medium")
        lg:  992 - 1199px ("large")
        xl: 1200 px       ("extra large")
    CSS-Klassen von Bootstrap:
        card-..., form-..., row, btn, bg-primary, ...
        https://v5.getbootstrap.com/docs/5.0/forms
-->

<div class="row">
  <label for="nachnameInput" class="col col-2 col-form-label gy-3"> Nachname </label>

  <!-- vertikale und horizontale "Gutter" als Abstaende ("gaps") zwischen den Spalten -->
  <!-- https://v5.getbootstrap.com/docs/5.0/layout/gutters/#horizontal-gutters -->
  <div class="col col-10 gy-3">
    <mat-form-field>
      <mat-label>Den Nachname oder einen Teil davon eingeben</mat-label>
      <input matInput type="text" [(ngModel)]="nachname">
    </mat-form-field>
  </div>
</div>
