<!--
    Copyright (C) 2015 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<section class="card" [@fadeIn]="'in'">
  <div class="card-header primary">
    <mat-icon aria-hidden="false" aria-label="Example info icon">search</mat-icon>
    <span class="ms-1 fw-bold">Eingabe der Suchkriterien</span>
  </div>
  <div class="card-body">
    <!--
            Bootstrap:
                (xs):    -  480px ("extra small")
                sm:      -  767px ("small")
                md:  768 -  991px ("medium")
                lg:  992 - 1199px ("large")
                xl: 1200 px       ("extra large")
            CSS-Klassen von Bootstrap:
                card-..., form-..., row, btn, bg-primary, ...
                https://v5.getbootstrap.com/docs/5.0/forms
        -->

    <!--
            Formulare zur Interaktion mit dem Endbenutzer:
            * Daten werden modifiziert, z.B. in Suchfelder oder
              Erfassungs-/Aenderungsformularen
            * Aenderungen wirken sich auf Teile der Seite aus:
              Ergebnisse/Fehler anzeigen, Navigationsmoeglichkeiten
            * Eingaben werden validiert

            Template-Syntax:, z.B. (submit)="onFind()" fuer Output (= Event Binding)
            d.h. Angular registriert einen "DOM Event Listener" fuer das Ereignis
            "submit" und ruft die Methode onFind() der Komponentenklasse,
            wenn das Ereignis eintritt.

            Definition von Attributnamen gemaess HTML: Attribute names must
            consist of one or more characters other than the space characters,
            U+0000 NULL, """, "'", ">", "/", "=", the control characters,
            and any characters that are not defined by Unicode.
        -->

    <form (submit)="onSubmit()" role="form">
      <hs-suche-nachname></hs-suche-nachname>
      <hs-suche-familienstand></hs-suche-familienstand>
      <hs-suche-geschlecht></hs-suche-geschlecht>
      <hs-suche-interessen></hs-suche-interessen>

      <!-- vertikale und horizontale "Gutter" als Abstaende ("gaps") zwischen den Spalten -->
      <!-- https://v5.getbootstrap.com/docs/5.0/layout/gutters/#horizontal-gutters -->
      <div class="row">
        <div class="col offset-2 gy-3">
          <mat-icon aria-hidden="false" aria-label="Example info icon">info</mat-icon>
          <!-- margin left -->
            Hinweis: Keine Eingabe liefert alle Kunden
        </div>
      </div>

      <div class="row">
        <div class="col offset-2 gy-3">
          <!-- default: type="submit" -->
          <button mat-raised-button color="primary" type="submit" class="btn btn-primary">
            <mat-icon class="material-icons">search</mat-icon>
            <span class="ms-1">Suchen</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
