<!--
    Copyright (C) 2015 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="row">
  <mat-label class="col col-2 col-form-label gy-3">Familienstand</mat-label>
  <div class="col col-10 gy-3">
      <mat-select [(ngModel)]="familienstand" name="familienstand">
        <mat-option value="">--</mat-option>
        <mat-option value="VH">Verheiratet</mat-option>
        <mat-option value="L">Ledig</mat-option>
        <mat-option value="G">Geschieden</mat-option>
        <mat-option value="VW">Verwitwet</mat-option>
     </mat-select>
  </div>
</div>
