<!--
    Copyright (C) 2015 - present Juergen Zimmermann, Hochschule Karlsruhe

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="row">
  <label class="col col-2 col-form-label gy-3">Geschlecht</label>
    <div class="col col-10 gy-3">
        <mat-radio-button [(ngModel)]="geschlecht" name="geschlecht" value="M" ngDefaultControl>Maennlich &nbsp; &nbsp;</mat-radio-button>
        <br/>
        <mat-radio-button [(ngModel)]="geschlecht" name="geschlecht" value="W" ngDefaultControl>Weiblich &nbsp; &nbsp;</mat-radio-button>
        <br/>
        <mat-radio-button [(ngModel)]="geschlecht" name="geschlecht" value="D" ngDefaultControl>Divers &nbsp; &nbsp;</mat-radio-button>
    </div>
</div>
